@page
@model GeoProfs.Pages.Employees.CreateModel

@{
    ViewData["Title"] = "Create Employee";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create Employee</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.FirstMidName" class="control-label"></label>
                <input asp-for="Employee.FirstMidName" class="form-control" />
                <span asp-validation-for="Employee.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EnrollmentDate" class="control-label"></label>
                <input asp-for="Employee.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Employee.EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Role" class="control-label"></label>
                <input asp-for="Employee.Role" class="form-control" />
                <span asp-validation-for="Employee.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Team" class="control-label"></label>
                <input asp-for="Employee.Team" class="form-control" />
                <span asp-validation-for="Employee.Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Mail" class="control-label"></label>
                <input asp-for="Employee.Mail" class="form-control" />
                <span asp-validation-for="Employee.Mail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Employee.IsPresent" /> @Html.DisplayNameFor(model => model.Employee.IsPresent)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Employee.AbsenceDaysLeft" class="control-label"></label>
                <input asp-for="Employee.AbsenceDaysLeft" class="form-control" />
                <span asp-validation-for="Employee.AbsenceDaysLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
