@page
@model GeoProfs.Pages.Workers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Worker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Worker.ID" />
            <div class="form-group">
                <label asp-for="Worker.FirstMidName" class="control-label"></label>
                <div>@Html.DisplayFor(model => model.Worker.FirstMidName)</div>
            </div>
            <div class="form-group">
                <label asp-for="Worker.LastName" class="control-label"></label>
                <input asp-for="Worker.LastName" class="form-control" />
                <span asp-validation-for="Worker.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.EnrollmentDate" class="control-label"></label>
                <input asp-for="Worker.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Worker.EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.Role.RoleName" class="control-label"></label>
                <select asp-for="Worker.Role.RoleID" class="form-control"
                        asp-items="@Model.RolesNameSL"></select>
                <span asp-validation-for="Worker.Role.RoleID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Worker.IsPresent" /> @Html.DisplayNameFor(model => model.Worker.IsPresent)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Worker.maxAbsenceDays" class="control-label"></label>
                <input asp-for="Worker.maxAbsenceDays" class="form-control" />
                <span asp-validation-for="Worker.maxAbsenceDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.totalSickDays" class="control-label"></label>
                <input asp-for="Worker.totalSickDays" class="form-control" />
                <span asp-validation-for="Worker.totalSickDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.totalOffDays" class="control-label"></label>
                <input asp-for="Worker.totalOffDays" class="form-control" />
                <span asp-validation-for="Worker.totalOffDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
