@page
@model GeoProfs.Pages.Workers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Worker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Worker.LastName" class="control-label"></label>
                <input asp-for="Worker.LastName" class="form-control" />
                <span asp-validation-for="Worker.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.FirstMidName" class="control-label"></label>
                <input asp-for="Worker.FirstMidName" class="form-control" />
                <span asp-validation-for="Worker.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.EnrollmentDate" class="control-label"></label>
                <input asp-for="Worker.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Worker.EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.Role" class="control-label"></label>
                <input asp-for="Worker.Role" class="form-control" />
                <span asp-validation-for="Worker.Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
