@page
@model GeoProfs.Pages.AbsenceProposals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AbsenceProposal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AbsenceProposal.AbsenceProposalID" />
            <div class="form-group">
                <label asp-for="AbsenceProposal.Title" class="control-label"></label>
                <input asp-for="AbsenceProposal.Title" class="form-control" />
                <span asp-validation-for="AbsenceProposal.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsenceProposal.ReasonAbsence" class="control-label"></label>
                <input asp-for="AbsenceProposal.ReasonAbsence" class="form-control" />
                <span asp-validation-for="AbsenceProposal.ReasonAbsence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsenceProposal.Reasoning" class="control-label"></label>
                <input asp-for="AbsenceProposal.Reasoning" class="form-control" />
                <span asp-validation-for="AbsenceProposal.Reasoning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsenceProposal.StartAbsenceDate" class="control-label"></label>
                <input asp-for="AbsenceProposal.StartAbsenceDate" class="form-control" />
                <span asp-validation-for="AbsenceProposal.StartAbsenceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsenceProposal.EndAbsenceDate" class="control-label"></label>
                <input asp-for="AbsenceProposal.EndAbsenceDate" class="form-control" />
                <span asp-validation-for="AbsenceProposal.EndAbsenceDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AbsenceProposal.Accepted" /> @Html.DisplayNameFor(model => model.AbsenceProposal.Accepted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
